<div class="container">
<h1>Listing collaborators</h1>
</div>
 
<div class="container">
<table>
  <tr>
    <th>Email</th>
    <th>Unique Token</th>
    <th></th>
    <th></th>
  </tr>
 
  <% @collaborators.each do |c| %>
    <tr>
      <td><%= c.email %></td>
      <td><%= c.unique_token %></td>
      <td><%= link_to 'Edit', edit_collaborator_path(c) %></td>
      <td><%= link_to 'Destroy', collaborator_path(c),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
</div>