<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      O teu mood é super importante para a tua equipa!<br/>
      Actualiza aqui: <%= link_to login_url(@collaborator.unique_token), login_url(@collaborator.unique_token) %>
    </p>
    <p></p>
    <p>Stay Cool</p>
  </body>
</html>